// header
header.container-fluid.header-fixed-top.header-module
  .navbar-header
    .serch 検索
    .user 
       a(role="button" ng-click="dropdownClick($event)" dropdown-toggle="dropdown-toggle" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false") 山本太郎
       i.icon--triangle
// /header
