//  色変数
$acc:#297EDB;
$main:#297EDB;
$wo:#CF2626;
$man:#297EDB;
$hover:#83C9FE;
$modal:#F0F6FC;
$wh:#FFF;
$blk:#373737;
$base:#EDEDED;
$active:#EDEDED;
$gray:#979797;

/*mixin*/
@mixin button {
  border-radius: 3px;
  background-color: $main;
  height: 35px;
  color: $wh;
  padding: 0 27px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all .2s ease;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  cursor: pointer;
  &:hover{
    box-shadow: 0 5px 4px rgba(0,0,0,.4);
  }
}
@mixin module{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content:space-between;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}
@mixin item-inner{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*/mixin*/
.basic-txt{
  font-size: 16px;
  font-size: 1.6rem;
}

/*backghroud*/
.content-fluid{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $base;
}
/*/backghroud*/
/*header*/
  .header-fixed-top{
    position: fixed;
    top:0;
  }
  .header-fixed-second{
    position: fixed;
    top:50px;
  }

  .header-module{
    background-color: $wh;
    height:50px;
    color: $gray;
    &:nth-child(2n){
      border-top: 1px solid $gray;
    }
  }
  /*nav*/
    .navbar-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      @extend .basic-txt;
    }
    .nav-fixed-bottom{
      position: fixed;
      top: 53px;
    }
    /*nav-primary*/
      .nav-container{
        height: 50px;
        display: flex;
        justify-content: space-between;
      }
      .project-nav{
        height: 100%;
        a{
          @extend .basic-txt;
          padding:18px 15px 12px;
          height: 50px;
          display: inline-block;
          box-sizing: border-box;
          cursor: pointer;
        }
        a.is-active{
          color: $acc;
          font-weight: bold;
          border-bottom: 2px solid  $acc;
        }
      }
      .btn-container{
        padding-top: 18px;
      }
    /*/nav-primary*/
    .user{
      height: 100%;
      display: flex;
      align-items: center;
      .dropdown-toggle{
        padding-right: 10px;
      }
      cursor: pointer;
      .icon--triangle:before{
        position: absolute;
        font-size: 10px;
      }
    }

  /*/nav*/
/*/header*/




/*button*/
.btn-primary{
  @include button
}

/*/button*/

/*データヘッダー*/
.project-col{
  padding: 133px 38px 0;
}
.project-head{
  @include module
  background-color: $wh;
  height: 65px;
  border-bottom: 1px solid $base;
  border-radius:4px 4px 0 0;
  margin:0 5px;
  .project-subheading{
    @extend .basic-txt;
    box-sizing: border-box;
    color:$gray;
    height: 100%;
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content:flex-start;
    .icon--arrow--up:before{
      display: block;
      transform: rotate(0deg);
      padding-left: 0.5em;
    }
  }
  .project-subheading.is-active{
    color: $blk;
  }
  .project-subheading.is-active.is-reverce{
    .icon--arrow--up:before{
      transform: rotate(180deg);
    }
  }
}
.project-menu{
  @include item-inner
  padding: 0 15px;
  &:first-child{
    .project-subheading{
      padding:0 15px;
    }
  }
}
