append variables
  //- Required
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
block content
  // contents
  :php
    get_header(); 
  h2
    :php
        echo "aaa";
  a(href="/page/") リンク
  :php
    get_footer(); 

  // /contents
