:php
  get_header()
.mainvisual  
  .single--header
    h1.single--content--title リドナーチャリングファウンデーション
    ul.breadcrumbs
      li 
        a(href="") HOME
      li 
        a(href="") WORDS
      li 
        a(href="") マーケティング
article.main-content
  section
    .container
      .single--content--label
        .single--content--category
          a(href="") Markting
        data.single--content--data 2018.08.01
        .single--content--tag 
          a(href="") メルマガ 
          a(href="") 営業
        .single--content--writer
          .single--content--writer--image(style="background-image: url(https://placehold.jp/60x60.png)")
          .single--content--writer--name 大和なでしこ
      .single--content--maintext
        h2 潜在顧客にアプローチをし、優良顧客まで育成させ購買に繋げるためのマーケティング活動です。
        p 950年9月3日、ジェーンと名付けられた台風が大阪を襲う。当時大阪に公立の美術学校をつくろうという話が確かにあったようだが、彼女は950年9月3日、ジェーンと名付けられた台風が大阪を襲う。当時大阪に公立の美術学校をつくろうという話が確かにあったようだが、彼女は
          a(href="aaa") 参考文献
        h3 リードナーチャリングのゴールは、各ターゲットフェーズのユーザーと良好な関係を築き、最終的に購買まで導くことです。
        p 950年9月3日、ジェーンと名付けられた台風が大阪を襲う。当時大阪に公立の美術学校をつくろうという話が確かにあったようだが、彼女は950年9月3日、ジェーンと名付けられた台風が大阪を襲う。当時大阪に公立の美術学校をつくろうという話が確かにあったようだが、彼女は
        .single--content--maintext-samplecase
          h4 クラベスの事例
          p 某製紙メーカーのキャンペーンで新規会員登録者に対してのリードナーチャリングをおこないました。
.single--content--pagenation
  .single--content--pagenation--link
    a( href="") サーバーサイド
  .single--content--pagenation--link
    a( href="") テクニカルディレクション
.single--content--backtop
  a(href="") 
    span 一覧へ戻る
:php
  get_footer()
